<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Messajes</title>
  </head>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/socket.io.js"></script>
  <body>

    <ul id="messages"></ul>
    <input id="myMessage" type="text">
    <button id="send">Send</button>
  <script>

    const socket = io()
    socket.emit('message', 'hello')

    socket.on('message', function(msg) {
      $('#messages').append('<li>' + msg + '</li>')
    })

    $('#send').on('click', function() {
      socket.send($('#myMessage').val());
      $('#myMessage').val('');
    })
  </script>
</body>
</html>
